<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.Quest.mapper.auth.AuthMapper">

    <select id="existsById" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM RECALL_LOGIN
        WHERE id = #{id}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM RECALL_MEMBER
        WHERE email = #{email}
    </select>

    <select id="findId" resultType="back.Quest.model.dto.auth.AuthDto$LoginInfo">
        SELECT  id as id
             ,  pw as pw
             ,  member_no as memberNo
          FROM  RECALL_LOGIN
          WHERE id = #{id}
    </select>
</mapper>